body {

    background-image: linear-gradient(to right bottom, #000000, #100d0d, #1a1616, #221e1d, #2b2623, #3b2f26, #493928, #57432a, #715128, #8c5f25, #a96d21, #c77b1a);
}

.responsive {
    width: 100%;
    height: auto;
}

h1,
h2 {

    font-family: ltc-bodoni-175,
        serif;
    font-style: normal;
    font-weight: 400;
}

.nav-link,
.navbar-brand {

    font-size: 20px;
    font-family: ltc-bodoni-175,
        serif;
    font-style: normal;
    font-weight: 400;
}

.header-text-2 {

    color: #A7641B;

}

.transparent {

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 8 */
    filter: alpha(opacity=0.80);
    /* IE 5-7 */
    -moz-opacity: 0.80;
    /* Netscape */
    -khtml-opacity: 0.80;
    /* Safari 1.x */
    opacity: 0.80;
    /* Good browsers */
}

.parallax-LH {
    /* The image used */

    background-image: linear-gradient(319deg, rgb(29, 18, 4, 0.5), rgb(242, 192, 16, 0.3), rgb(200, 107, 30, 0.5)), url("Images/36-LLHbanner2002.jpg");

    /* Set a specific height */
    min-height: 100vh;
    min-width: 1vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.LH-Mobile {

    background-image: linear-gradient(319deg, rgb(29, 18, 4, 0.5), rgb(242, 192, 16, 0.3), rgb(200, 107, 30, 0.5)), url("Images/36-LLHbanner2002.jpg");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 1vh;
    /* Create the parallax scrolling effect */



}

.banner {
    text-shadow: 2px 2px 10px #000000;

}


.parallax-EventInformation {
    /* The image used */



    background-image: linear-gradient(319deg, rgb(29, 18, 4, 0.5), rgb(242, 192, 16, 0.3), rgb(200, 107, 30, 0.5)), url("Images/36 - LLH banner.jpg");
    /* Set a specific height */
    height: 70vh;
    min-width: 1vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.EventInformation-Mobile {
    /* The image used */

    background-image: linear-gradient(319deg, rgb(29, 18, 4, 0.5), rgb(242, 192, 16, 0.3), rgb(200, 107, 30, 0.5)), url("Images/36 - LLH banner.jpg");
    /* Set a specific height */
    height: 60vh;
    min-width: 1vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
}

.parallax-Federal {
    /* The image used */



    background-image: linear-gradient(319deg, rgb(29, 18, 4, 0.5), rgb(242, 192, 16, 0.3), rgb(200, 107, 30, 0.5)), url("Images/LLH-FederalGuidelines.jpg");



    /* Set a specific height */
    height: 70vh;
    min-width: 1vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Federal-Mobile {
    /* The image used */



    background-image: linear-gradient(319deg, rgb(29, 18, 4, 0.5), rgb(242, 192, 16, 0.3), rgb(200, 107, 30, 0.5)), url("Images/LLH-FederalGuidelines.jpg");



    /* Set a specific height */
    height: 40vh;
    min-width: 1vh;
    /* Create the parallax scrolling effect */
    background-size: auto;
    background-attachment: local;
    background-repeat: no-repeat;


}

.parallax-Confederate {
    /* The image used */



    background-image: linear-gradient(319deg, rgb(29, 18, 4, 0.5), rgb(242, 192, 16, 0.3), rgb(200, 107, 30, 0.5)), url("Images/LLH-ConfederateGuidelines.jpg");



    /* Set a specific height */
    height: 70vh;
    min-width: 1vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Confederate-Mobile {

    background-image: linear-gradient(319deg, rgb(29, 18, 4, 0.5), rgb(242, 192, 16, 0.3), rgb(200, 107, 30, 0.5)), url("Images/LLH-ConfederateGuidelines.jpg");



    /* Set a specific height */
    height: 40vh;
    min-width: 1vh;
    /* Create the parallax scrolling effect */
    background-size: auto;
    background-attachment: local;
    background-repeat: no-repeat;


}

.section {
    min-height: 20vh;
    color: black;
    box-shadow: 0p 10px #888888;
    margin-top: 50px;
    border-bottom-style: solid;
    border-width: medium;
    background-color: #EFD19D;
    border-radius: 10px;
    border-color: #A7641B;
    border-top-style: solid;
    border-width: small;
    background-color: #EFD19D;
    text-align: left;

}
